name: Hedron Crawler

on:
  workflow_dispatch:
  schedule:
    - cron: '*/90 * * * *' # Every 90 minutes

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Set git
        env:
          USER: ${{secrets.USER}}
          MAIL: ${{secrets.MAIL}}
        run: |
          git config --global user.name "${USER}"
          git config --global user.email "${MAIL}"

      - name: Run Python script
        env:
          TOKEN: ${{secrets.TOKEN}}
          TOKEN_DECKS: ${{secrets.TOKEN_DECKS}}
          REPO: merchantscroll
          USER: chumpblocckami
        run: python entrypoint.py

      - name: Set last update timestamp
        run: |
          echo "{\"last_update\": \"$(date -u '+%A, %B %d, %Y at %H:%M UTC')\"}" > info.json
      
      - name: Commit and push finished jobs
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add info.json
          git commit -m "Update info.json"
          git push
